.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header div {
  margin-bottom: 5px;
}

.App-header {
  background-color: #e0e0e0;
  color: white;

  min-height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
}

/* Header Menu Item CSS - Starts Here */
.ui.secondary.pointing.menu{
  background-color: #2ED573;
  color: white;

  height: 4em;

  margin-bottom: 0;
  padding: 0;

  border-radius: 0;
  border-color: #2ED573;
}

.ui.secondary.pointing.menu div.item.logo-space{
  padding: 0 20px;
}

.ui.secondary.pointing.menu .logo {
  width: 50px;
  height: auto;
}

.ui.secondary.pointing.menu a.item{
  color: rgba(255,255,255,0.62);
  font-size: 17px;
  border-bottom-width: 3px;
}

.ui.secondary.pointing.menu a.item:hover{
  color: white;
}

.ui.secondary.pointing.menu .active.item{
  color: white;
  border-color: white;
}

.ui.secondary.pointing.menu .active.item:hover{
  color: white;
  border-color: white;
}
/* Header Menu Item CSS - Ends Here */

.ui.fluid.input>input {
  width: 100% !important;
}

.search-recipe > input {
  font-size: medium;
}

.MuiChip-sizeSmall {
  margin-right: 10px;
}

.MuiChip-labelSmall {
  text-transform: capitalize;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
